<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ticket.booking.dao.BookingMapper">
	<select id="selectBookingListByUserId" parameterType="int" resultType="com.ticket.booking.domain.Booking">
		SELECT
			`id`
			,`showId`
			,`userId`
			,`bookingNumber`
			,`bookingDate`
			,`showDate`
			,`showTime`
			,`seat`
			,`seatPrice`
			,`seatGrade`
			,`isReserved`
			,`createdAt`
			,`updatedAt`
		FROM
			`booking`
		WHERE
			`userId` = #{userId}
	</select>
	
	
	
	<select id="selectBookingBybookingId" parameterType="int" resultType="com.ticket.booking.domain.Booking">
		SELECT
			`id`
			,`showId`
			,`userId`
			,`bookingNumber`
			,`bookingDate`
			,`showDate`
			,`showTime`
			,`seat`
			,`seatPrice`
			,`seatGrade`
			,`isReserved`
			,`createdAt`
			,`updatedAt`
		FROM
			`booking`
		WHERE
			`id` = #{bookingId}
	</select>
	
	
	<select id="selectBookingList" parameterType="map" resultType="com.ticket.booking.domain.Booking">
		SELECT
			`id`
			,`showId`
			,`userId`
			,`bookingNumber`
			,`bookingDate`
			,`showDate`
			,`showTime`
			,`seat`
			,`seatPrice`
			,`seatGrade`
			,`isReserved`
			,`createdAt`
			,`updatedAt`
		FROM
			`booking`
		WHERE
			`showId` = #{showId}
		AND
			`showDate` = #{selectedDate}
		AND
			`showTime` = #{selectedTime}
		AND
			`isReserved` = 1
	</select>
	
	<insert id="insertBooking" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `booking`
		(
			`userId`
			,`showId`
			,`showDate`
			,`showTime`
			,`seatGrade`
			,`seat`
			,`bookingNumber`
			,`bookingDate`
			,`seatPrice`
			,`isReserved`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{showId}
			, #{showDate}
			, #{showTime}
			, #{seatGrade}
			, #{seat}
			, #{bookingNumber}
			, NOW()
			, #{seatPrice}
			, 1
			, NOW()
			, NOW()
		)
	</insert>
	
	
</mapper>