@charset "UTF-8";

header {min-height: 100px;}
.contents {min-height: 500px;}
footer {height: 100px; color: #999;}

/* header - nav */
.top-menu {color: #000; padding-right: 0%; font-size: 12px;}
.middle-menu {color: #000; padding-inline: 0%; font-size: 14px; font-weight: bold;}
.top-menu:hover, .middle-menu:hover {color: #999;}

/* header - wing */
.wing-box {z-index: 999;}
.close-wing {position: absolute; right: 100%; top: 50%; height: 80px; width: 30px; background-color: rgb(235, 235, 235);}
.wing {height: 0px;}
.wing-menu {position: fixed; width: 150px; height: 100%; background-color: rgb(215, 215, 215);}
.wing-main-font, .wing-main-font:hover {font-size: 40px; text-decoration: none; color: #666;}

/* signIn - checkbox */
/* input 숨겨준다 */
input[type="checkbox"]{
  display:none;
  }

input[type="checkbox"] + label{
  cursor:pointer;
 }

input[type="checkbox"] + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input[type="checkbox"] + label:before{
  content:"";
  display:inline-block;
  width:25px;
  height:25px;
  border:2px solid rgb(165, 208, 117);
  border-radius: 4px;
  vertical-align:middle;
  }
  
/* label:before에 체크 된 상태 CSS */  
input[type="checkbox"]:checked + label:before{
  content:"";
  background-color: #fff;
  border-color:rgb(165, 208, 117);
  background-image: url('/static/images/check_btn.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  }

  
/* signIn - a 태그들 */
.user-link, .user-link:hover {color: #000; font-size: 12px; text-decoration: none;}













.sign-up-box {padding: 0px;}
.sign-up-subject {margin:20px; font-weight:bold;}








/* showDetail.jsp */
.show-info {list-style: none;}
.show-info strong {width: 90px;}
.show-info p, .infoBtn {word-wrap: break-word; width: 100px;}
.infoBtn, .infoBtn:hover {text-decoration: none; color: #000;}

.tab-nav {padding: 0px;}
.tab-content {min-height: 400px;}




.book-area {width: 90px; height: 400px; background-color: rgb(192, 192, 192); position: relative; margin-top: 1rem; padding: 10px; border-radius: 10px;}



a {color: #000;}
a:hover {text-decoration: none; color: rgb(192, 192, 192);}

.table-box {width: 500px;}
.book-box {list-style: none; width: 550px; min-height: 40px; display: flex;}
.book-content {display: flex; align-items: center; padding-right: 0px; padding-left: 10px;}

.point-radio {margin-bottom: 0px; margin-right: 10px;}